body {
    font-family: 'century gothic', sans-serif;
    color: darkslateblue;
    background-image: url(images/blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: transparent;
    border-style: solid;
    border-top-width: 100pt;
}

h1 {
    text-align: center;
    font-size: 48pt;
}

h2 {
    font-size: 18pt;
}

h1,
h2,
h3 {
    background: linear-gradient(to right, transparent, white, white, transparent);
    text-indent: 25pt;
    color: #004d66;
}

p {
    text-align: right;
    border: transparent;
    border-style: solid;
    border-left-width: 75pt;
}

.summary {
    text-align: center;
}

div {
    background: linear-gradient(to right, transparent, white, white, transparent);
    border: transparent;
    border-style: solid;
    border-width: 15pt;
}

footer {
    text-align: center;
}

a {
    color: darkcyan;
    text-decoration: none;
}